*{
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif!important;
	background: black!important;
	color: white!important;
	line-height: 1.6!important;
	height: 100vh!important;
	overflow: hidden!important;
}

/*.container {
	width: 100vw!important;
	height: 100vh!important;
}*/

.navbar {
	z-index: 1!important;
	height: 60px!important;
	background-color: rgba(0,0,0,0.7)!important;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar ul {
	list-style: none!important;
}

.navbar ul li {
	margin: 0 1rem!important;
    padding: 1rem!important;
}

.navbar ul li a{
transition: color 0.75s ease;
	color: white!important;
	text-transform: uppercase;
}

.navbar ul li a:hover{
	transition: color 0.75s ease;
    color: skyblue!important;
}

section {
	display: flex!important;
	flex-direction: column!important;
	align-items: center!important;
	justify-content: center!important;
	text-align: center!important;
	width: 100%!important;
	height: 100vh!important;
}

section h1 {
	font-size: 5vh!important;
}

section p {
	font-size: 2.5vh!important;
}

@media (min-width: 320px) and (max-width: 739px){
	.navbar-toggler {
		z-index: 99999;
	}

	.mobileMenu {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		transform: translatex(-100%);
		transition: all ease 0.5s;
	}

	.openMenu {
		background: black!important;
		transition: all ease 0.5s;
        transform: translatex(0)!important;
    }

	section {
		height: 100vh!important;
	}

	section h1 {
		font-size: 7vw!important;
	}
	section p {
    	font-size: 4vw!important;
    }
}


section#home{
	background: black;
}

section#about{
	background: grey;
}

section#resume {
  background: black;
}

section#work {
  background: grey;
}

section#contact {
	background: black;
}

/*section#home{
	 background: url('https://source.unsplash.com/bZZp1PmHI0E/1600x900') no-repeat center center/cover;
}

section#about{
	 background: url('https://source.unsplash.com/bZZp1PmHI0E/1600x900') no-repeat center center/cover;
}

section#about {
  background: url('https://source.unsplash.com/VRxo0yY-gyM/1600x900') no-repeat center center/cover;
}

section#resume {
  background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;
}

section#work {
  background: url('https://source.unsplash.com/2aAHlfDOhJM/1600x900') no-repeat center center/cover;
}

section#contact {
  background: url('https://source.unsplash.com/bZZp1PmHI0E/1600x900') no-repeat center center/cover;
}*/
