*{
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif!important;
	background: black!important;
	color: white!important;
	line-height: 1.6!important;
	height: 100vh!important;
	/*overflow: hidden!important;*/
}
ul {
	list-style: none;
}

#skills strong {
	font-weight: none;
}

section h1 {
	text-transform: uppercase;
	font-size: 5vh!important;
}

section h2 {
	text-transform: uppercase;
	font-size: 2.5vh!important;
}

section p {
	font-size: 2.5vh!important;
}

/*.container {
	width: 100vw!important;
	height: 100vh!important;
}*/

/*NAVBAR STYLING*/
.navbar {
	z-index: 1!important;
	height: 60px!important;
	background-color: rgba(0,0,0,1)!important;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar ul {
	list-style: none!important;
}

.navbar ul li {
	margin: 0 1rem!important;
    padding: 1rem!important;
}

.navbar ul li a{
transition: color 0.75s ease;
	color: white!important;
	text-transform: uppercase;
}

.navbar ul li a:hover{
	transition: color 0.75s ease;
    color: skyblue!important;
}


/*ABOUT SECTION STYLING*/
#profile-symbols {
	width: 15vw!important;
}

/*GENERIC SECTION STYLING*/
section {
	padding-right: 5vw;
    padding-left: 5vw;
    margin-right: auto;
    margin-left: auto;
	display: flex!important;
	flex-direction: column!important;
	align-items: center!important;
	justify-content: center!important;
	text-align: justify;
    text-justify: inter-word;
	width: 100%!important;
	min-height: 100vh;
}


section#about{
/*	padding-top: 35px!important;*/
	background: black;
}

section#skills {
  background: grey;
}

section#work {
  background: black;
}

section#contact {
	background: grey;
}



/*SKILLS SECTION STYLING*/


/*WORK SECTION STYLING*/


/*CONTACT SECTION STYLING*/
#contact-form label {
	color: white;
	background: transparent;
}

#contact-form input {
	border-radius: 0;
	border: 0px;
	background: transparent;
	border-bottom: 1px solid white;
	outline: none!important;
}

::placeholder {
	color: white!important;
	opacity: 0.7!important;
}

#contact-form textarea {
	border-radius: 0;
    border: 0px;
	background: transparent;
	border-bottom: 1px solid white;
}

#contact-form input, select, textarea{
    color: white!important;
}

textarea:focus, input:focus {
    color: white!important;
}

.form-control:focus {
	box-shadow: none!important;
}

/* Project section styling */
.project-container{
  color: #1a1a1a;
  margin-bottom: 10px;
}

.projectwork {
      position: relative;
      width: 90%;
      max-width: 400px;
      margin: auto;
      overflow: hidden;
}

.project-container h2 {
	color: #646464;
}


.projectwork .projectwork-overlay{
	background: rgba(0,0,0,0.7);
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.projectwork:hover .projectwork-overlay{
  opacity: 1;
}

.projectwork-image{
  width: 100%;
}

.projectwork-details{
	  position: absolute;
	  text-align: center;
	  padding-left: 1em;
	  padding-right: 1em;
	  width: 100%;
	  top: 50%;
	  left: 50%;
	  opacity: 0;
	  -webkit-transform: translate(-50%, -50%);
	  -moz-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	  -webkit-transition: all 0.3s ease-in-out 0s;
	  -moz-transition: all 0.3s ease-in-out 0s;
	  transition: all 0.3s ease-in-out 0s;
}

.projectwork:hover .projectwork-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.projectwork-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.project-link {
	margin-right: 1rem!important;
}

.projectwork-details a:hover {
	text-decoration: none!important;
	font-size-adjust: 20px!important;
}

.project-title {
	margin-top: 0.75rem;
	color: white;
	text-align: center;
}


/*****************************/

/*MEDIA QUERIES*/
@media (min-width: 320px) and (max-width: 1023px){
	#about img {
		display: none!important;
	}

	#skills .container {
		padding-right: 0;
		padding-left: 0;
	}

	.navbar-toggler {
		z-index: 99999!important;
	}

	.mobileMenu {
		position: fixed!important;
		top: 0!important;
		bottom: 0!important;
		left: 0!important;
		margin: auto!important;
		transform: translatex(-100%)!important;
		transition: all ease 0.5s!important;
	}

	.openMenu {
		background: black!important;
		transition: all ease 0.5s!important;
        transform: translatex(0)!important;
    }

	#profile-symbols {
		width: 90vw!important;
		text-align: center;
	}

	section {
		padding-top: 85px!important;
	}

	section h1 {
		font-size: 7vw!important;
	}
	section p {
    	font-size: 4vw!important;
    }

}

